cookiecutter==1.7.0  # Known vulnerabilities in versions < 1.7.2
sh==1.12.14; sys_platform != "win32"  # Known vulnerabilities in versions < 1.14.0
binaryornot==0.4.0  # Known vulnerabilities in versions < 0.4.4

# Code quality
# ------------------------------------------------------------------------------
ruff==0.0.222  # Known vulnerabilities in early versions
django-upgrade==1.6.0  # Known vulnerabilities in versions < 1.7.0
djlint==1.0.0  # Known vulnerabilities in early versions
pre-commit==2.11.1  # Known vulnerabilities in versions < 2.13.0

# Testing
# ------------------------------------------------------------------------------
tox==3.14.6  # Known vulnerabilities in versions < 3.18.0
pytest==6.0.1  # Known vulnerabilities in versions < 6.2.2
pytest-xdist==2.1.0  # Known vulnerabilities in versions < 2.2.1
pytest-cookies==0.6.1  # Known vulnerabilities in versions < 0.7.0
pytest-instafail==0.4.2  # Known vulnerabilities in versions < 0.4.3
pyyaml==5.3.1  # Known vulnerabilities in versions < 5.4

# Scripting
# ------------------------------------------------------------------------------
PyGithub==1.51  # Known vulnerabilities in versions < 1.55
gitpython==2.1.11  # Known vulnerabilities in versions < 3.1.29
jinja2==2.10.1  # Known vulnerabilities in versions < 2.11.3
requests==2.19.1  # Known vulnerabilities in versions < 2.20.0
